{%extends "inicio.html" %}
{% block content %}

<div class="ColumnasProyectos">
    <article class="cadaProyecto">
        <img src="" alt="">
        <h1>QUICKRECIPE</h1><br>
        <p>QuickRecipe es una aplicación web diseñada para facilitar la búsqueda y organización de recetas de cocina.
            Con
            una interfaz intuitiva y amigable, los usuarios pueden explorar una amplia variedad de recetas, filtrar por
            ingredientes, tipo de comida o nivel de dificultad, y guardar sus favoritas para acceder a ellas fácilmente
            en
            el futuro. Además, QuickRecipe ofrece la opción de crear listas de compras basadas en las recetas
            seleccionadas,
            haciendo que la planificación de comidas sea más sencilla y eficiente.</p><br>
        <h2>Características principales:</h2><br>
        <ul>
            <li>Búsqueda avanzada de recetas por ingredientes, tipo de comida y nivel de dificultad.</li>
            <li>Interfaz amigable y fácil de navegar.</li>
            <li>Opción para guardar recetas favoritas.</li>
            <li>Generación automática de listas de compras basadas en las recetas seleccionadas.</li>
            <li>Compatibilidad con dispositivos móviles para acceder a las recetas en cualquier momento y lugar.</li>
    </article>

    <article class="cadaProyecto">
        <img class="ImagenProyectos" src="/static/Imagenes/IMC.png" alt="">
        <h1>Calculador de Imc</h1><br>
        <p>El Calculador de IMC (Índice de Masa Corporal) es una herramienta en línea diseñada para ayudar a las
            personas a
            evaluar su estado de salud en relación con su peso y altura. Al ingresar su peso en kilogramos y su altura
            en
            metros, el calculador utiliza la fórmula del IMC para determinar si una persona tiene un peso saludable,
            sobrepeso
            o bajo peso. Esta información puede ser útil para tomar decisiones informadas sobre la dieta y el ejercicio,
            y
            para establecer metas de salud personalizadas.</p><br>
        <h2>Características principales:</h2><br>
        <ul>
            <li>Fácil de usar: solo se necesitan dos datos (peso y altura) para obtener el resultado.</li>
            <li>Resultados rápidos: el IMC se calcula instantáneamente después de ingresar los datos.</li>
            <li>Interpretación clara: el calculador proporciona una interpretación del resultado, indicando si el IMC
                está
                dentro de un rango saludable o no.</li>
            <li>Consejos de salud: ofrece recomendaciones generales basadas en el resultado del IMC para mejorar la
                salud y
                el bienestar.</li>
            <li>Accesible desde cualquier dispositivo con conexión a Internet.</li>
    </article>

    <article class="cadaProyecto">
        <h1>Blog Personal</h1><br>
        <p>El Blog Personal es una plataforma en línea donde los usuarios pueden compartir sus pensamientos,
            experiencias y
            conocimientos sobre diversos temas. Este blog está diseñado para ser un espacio creativo y personal, donde
            los
            autores pueden expresarse libremente y conectar con una audiencia interesada en sus publicaciones. Los
            lectores
            pueden interactuar a través de comentarios, creando una comunidad dinámica y participativa.</p><br>
        <h2>Características principales:</h2><br>
        <ul>
            <li>Interfaz sencilla y atractiva para facilitar la lectura y navegación.</li>
            <li>Opciones de personalización para que los autores puedan adaptar el diseño del blog a su estilo.</li>
            <li>Funcionalidad de comentarios para fomentar la interacción entre autores y lectores.</li>
            <li>Categorías y etiquetas para organizar las publicaciones y facilitar la búsqueda de contenido.</li>
            <li>Compatibilidad con dispositivos móviles para que los usuarios puedan acceder al blog desde cualquier
                lugar.</li>
    </article>
    <article class="cadaProyecto">
        <img src="" alt="">
        <h1>Cajero automatico</h1><br>
        <p>El Cajero Automático es una aplicación web que simula las funciones básicas de un cajero automático real.
            Esta
            herramienta permite a los usuarios realizar operaciones financieras como consultar saldos, retirar dinero,
            depositar fondos y transferir dinero entre cuentas, todo desde la comodidad de su hogar o cualquier lugar
            con
            acceso a Internet. La interfaz es intuitiva y fácil de usar, diseñada para ofrecer una experiencia segura y
            eficiente.</p><br>
        <h2>Características principales:</h2><br>
        <ul>
            <li>Interfaz amigable y fácil de navegar.</li>
            <li>Funciones básicas de un cajero automático: consulta de saldo, retiros, depósitos y transferencias.</li>
            <li>Simulación de transacciones seguras para proteger la información del usuario.</li>
            <li>Accesible desde cualquier dispositivo con conexión a Internet.</li>
            <li>Diseño responsivo para una experiencia óptima en dispositivos móviles y de escritorio.</li>
    </article>
</div>




{% endblock %}